<h3>Top</h3>
<% @jaket_m.each do |article| %>
<li id="article">

  <span class="content">
      <%= article.content %>
    <%= image_tag article.picture.url if article.picture? %>
  </span>

</li>
<% end %>
<h3>Inner</h3>
<% @hoode_f.each do |article| %>
<li id="article">

  <span class="content">
      <%= article.content %>
    <%= image_tag article.picture.url if article.picture? %>
  </span>

</li>
<% end %>
