<footer class="footer text-center">
  <small>
    <%= link_to "Ocean", root_path %></a>
    presented by <a href="https://my-profile-yk.firebaseapp.com/" target="_blank">Y K</a>

    <ul>
      <li><%= link_to "About",   help_path   %></li>
      <li><%= link_to "Home", root_path %></li>
    </ul>
  </small>
</footer>